# Outlier detection using  inter quantile range (IQR)

In [19]:
import pandas as pd
df=pd.read_csv("C:/Users/Asus/Desktop/Practical_DSBDA/Height.csv")

In [20]:
df

       Index  Height(Inches)  Weight(Pounds)
0          1        65.78331        112.9925
1          2        71.51521        136.4873
2          3        69.39874        153.0269
3          4        68.21660        142.3354
4          5        67.78781        144.2971
...      ...             ...             ...
24995  24996        69.50215        118.0312
24996  24997        64.54826        120.1932
24997  24998        64.69855        118.2655
24998  24999        67.52918        132.2682
24999  25000        68.87761        124.8742

[25000 rows x 3 columns]

In [21]:
df.describe()

              Index  Height(Inches)  Weight(Pounds)
count  25000.000000    25000.000000    25000.000000
mean   12500.500000       67.993114      127.079421
std     7217.022701        1.901679       11.660898
min        1.000000       60.278360       78.014760
25%     6250.750000       66.704397      119.308675
50%    12500.500000       67.995700      127.157750
75%    18750.250000       69.272958      134.892850
max    25000.000000       75.152800      170.924000

In [22]:
q1=df.Height.quantile(0.25)
q3=df.Height.quantile(0.75)
q1,q3

AttributeError: 'DataFrame' object has no attribute 'Height'

In [23]:
IQR=q3-q1
IQR

NameError: name 'q3' is not defined

In [24]:
lowe_limit=q1-1.5*IQR
upper_limit=q3+1.5*IQR
lowe_limit,upper_limit

NameError: name 'q1' is not defined

In [ ]:
#outlier
df[(df.Height<lowe_limit)|(df.Height>upper_limit)]

In [ ]:
df[(df.Height>lowe_limit)&(df.Height<upper_limit)]

# Detecting using Z score

In [ ]:
z=(x-mean)/standard deviation

In [ ]:
df['zscore']=(df.Height - df.Height.mean())/df.Height.std()
df

In [ ]:
df[df['zscore']>3]

In [ ]:
#These all are outliers.

In [ ]:
df[df['zscore']<-3]