In [8]:
import pandas as pd
df=pd.read_csv("C:/Users/Asus/Desktop/Practical_DSBDA/Height.csv")

In [9]:
df

       Index    Height    Weight
0          1  65.78331  112.9925
1          2  71.51521  136.4873
2          3  69.39874  153.0269
3          4  68.21660  142.3354
4          5  67.78781  144.2971
...      ...       ...       ...
24995  24996  69.50215  118.0312
24996  24997  64.54826  120.1932
24997  24998  64.69855  118.2655
24998  24999  67.52918  132.2682
24999  25000  68.87761  124.8742

[25000 rows x 3 columns]

In [10]:
q1=df.Height.quantile(0.25)
q3=df.Height.quantile(0.75)
q1,q3

(66.7043975, 69.2729575)

In [11]:
IQR=q3-q1
IQR

2.568560000000005

In [12]:
lower_limit=q1-1.5*IQR
upper_limit=q3+1.5*IQR
lower_limit,upper_limit

(62.85155749999999, 73.1257975)

In [14]:
df[(df.Height<lower_limit)|(df.Height>upper_limit)]

       Index    Height    Weight
138      139  73.90107  151.3913
174      175  73.83364  139.2983
269      270  73.26872  130.2636
412      413  62.01666  109.0848
1133    1134  62.75039  114.4900
...      ...       ...       ...
23896  23897  73.38057  154.3189
24078  24079  73.22107  136.7360
24244  24245  62.26498  104.1348
24475  24476  62.68591  118.6002
24801  24802  74.53177  148.9104

[167 rows x 3 columns]

In [15]:
df[(df.Height>lower_limit)&(df.Height<upper_limit)]

       Index    Height    Weight
0          1  65.78331  112.9925
1          2  71.51521  136.4873
2          3  69.39874  153.0269
3          4  68.21660  142.3354
4          5  67.78781  144.2971
...      ...       ...       ...
24995  24996  69.50215  118.0312
24996  24997  64.54826  120.1932
24997  24998  64.69855  118.2655
24998  24999  67.52918  132.2682
24999  25000  68.87761  124.8742

[24833 rows x 3 columns]

In [ ]:
df.describe()

In [ ]:
df['zscore']=(df.Height - df.Height.mean())/df.Height.std()
df

In [ ]:
import seaborn as sns
sns.boxplot(df['Height'])

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize = (10,6))
ax.scatter(df['Height'], df['Weight'])
ax.set_xlabel('Height')
ax.set_ylabel('Weight')
plt.show()